<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aml.Engine" version="1.6.0" targetFramework="net48" />
  <package id="Aml.Engine.Services.TreeTraversal" version="1.1.0" targetFramework="net48" />
  <package id="Aml.Toolkit" version="2.3.0" targetFramework="net48" />
  <package id="AvalonEdit" version="6.1.2.30" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net48" />
  <package id="Dirkster.TreeLib" version="1.2.0" targetFramework="net48" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net47" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net47" />
</packages>